body {
    margin: 0;
}

.board-container {
    text-align: center;
    padding: 2em 0 0 0;
}

.game-board{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.game--restart {
    width: 10%;
    color: white;
    background-color: black;
    height: 2em;
    font-size: 1.1rem;
}

.cell {
    border: 2px solid;
    height: 200px;
    width: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* remove border for edges */
.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3) {
	border-top: none;
}

.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7) {
	border-left: none;
} 

.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9) {
	border-right: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
	border-bottom: none;
}

.message-container {
    text-align: center;
    font-size: 7rem;
}

